#!/usr/bin/env bash
export CLASS_PATH="target/lib/*"
export ZK_QUORUM=master1.valhalla.phdata.io:2181
export ZK_QUORUM_SOLR=master2.valhalla.phdata.io:2181/solr
export SMTP_SERVER=smtp.gmail.com
export SMTP_USER=testing@phdata.io
export SMTP_PASSWORD=''
export SMTP_PORT=587
export SMTP_TLS="true"
export ALERT_ENGINE_CONFIG=example-configs/alert-engine/alert-engine.yml
export COLLECTION_ROLLER_CONFIG=example-configs/collection-roller/collection-roller.yml
export WEBSERVER_PORT=9015
export AKKA_CONF=local/application.conf
export PULSE_DIST=target/lib
export JAAS_CONF=local/jaas.conf
export CONF_DIR=.
export PULSE_PRINCIPAL=tfoerster@PHDATA.IO
export KEYTAB_FILE=./tfoerster.keytab
export LOGBACK_CONFIG='local/logback.xml'
#export JAAS_CONF_PATH=local/jaas.conf
